.HamburgerMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -600px;
  /* opacity: 0; */
  /* pointer-events: none; */
  display: flex;
  transition: all 0.45s ease;
}
.hamburger-area {
  height: 100%;
  width: 55vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid 1px solid rgb(207, 207, 207);
}

.user-info {
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
.user-info p {
  margin: 0;
  padding: 3px;
}
.user-img {
  width: 50px;
  border-radius: 100%;
}

.HamburgerMenu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px;
  gap: 8px;
  cursor: pointer;
  font-size: 1.5rem;
}

.HamburgerMenu-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.HamburgerMenu-list li:hover {
  color: rgb(29, 161, 242);
}
.twitter-blue {
  color: rgb(29, 161, 242);
}
.HamburgerMenu-list span {
  font-size: 1rem;
}
.modal {
  height: 100vh;
  width: 45vw;
  background-color: transparent;
}
.show {
  left: 0px;
}

@media screen and (min-width: 800px) {
  .HamburgerMenu {
    display: none;
  }
}
