.BottomMenu {
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 4;
  width: 100vw;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.bottonMenu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px;
}

.bottonMenu-list img {
  width: 30px;
}
