.BottomMenu {
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 4;
  width: 100vw;
  background-color: white;
  border-top: 1px solid rgb(207, 207, 207);
}

.bottonMenu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px;
}

.bottonMenu-list li {
  font-size: 1.8rem;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .BottomMenu {
    display: none;
  }
}
