.MessagesList {
  height: 100vh;
  width: 100vw;
  margin-bottom: 60px;
  overflow: scroll;
  transition: all 0.35s ease;
}

.new-post {
  position: fixed;
  bottom: 12%;
  right: 2%;
  height: 60px;
  width: 60px;
  background-color: rgb(29, 161, 242);
  border-radius: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.newpost-img {
  font-size: 1.9rem;
  color: white;
}
.MessagesList::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 800px) {
  .MessagesList {
    width: 45vw;
    margin-bottom: 0;
    height: 100%;
  }
  .new-post {
    display: none;
  }
}
